/* --- 1. FONDO ANIMADO Y CONFIGURACIÓN BÁSICA --- */
body {
    width: 100%;
    min-height: 100vh; /* Permite que el fondo crezca si el CV es largo */
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333; /* Texto oscuro para leerse bien sobre blanco */
    
    /* Tu fondo animado */
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}

/* Animaciones del fondo */
@-webkit-keyframes Gradient {
    0% { background-position: 0% 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0% 50% }
}
@-moz-keyframes Gradient {
    0% { background-position: 0% 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0% 50% }
